{
 :paths     ["dev" "src/cljc" "src/cljs" "resources"]
 :mvn/repos {"maven_central" {:url "https://repo.maven.apache.org/maven2/"}}
 :deps      {
             clj-commons/secretary          {:mvn/version "1.2.4"}
             com.cleancoders.c3kit/scaffold {:mvn/version "2.0.3"}
             com.cleancoders.c3kit/wire     {:mvn/version "2.1.4"}
             hiccup/hiccup                  {:mvn/version "1.0.5"}
             org.clojure/clojure            {:mvn/version "1.11.3"}
             org.clojure/clojurescript      {:mvn/version "1.11.132"}
             venantius/accountant           {:mvn/version "0.2.5"}
             }
 :aliases   {
             :test {:extra-deps  {speclj/speclj {:mvn/version "3.4.8"}}
                    :extra-paths ["spec/cljc" "spec/cljs"]}
             :cljs {:main-opts ["-m" "c3kit.scaffold.cljs"]}
             :css  {:main-opts ["-m" "c3kit.scaffold.css"]}
             :dev  {:main-opts ["-m" "stac.dev"]}
             :dev- {:main-opts ["-m" "stac.dev" "cljs" "css"]}
             :antq {:deps      {com.github.liquidz/antq {:mvn/version "2.8.1201"}}
                    :main-opts ["-m" "antq.core"]}
             }
 }
